.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 0.5rem 0 0;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #457b9d;
}

.navbar a:active, .navbar a:hover {
  color: #1d3557
}
